### Скрипт объединения недельных тиковых файлов в один
данные скачаны с Финама ( один файл - одна неделя) по ссылке
https://www.finam.ru/profile/mosbirzha-fyuchersy/rts-9-22-riu2_riu2/export/?market=14&em=2053077&token=&code=RIU2&apply=0&df=1&mf=5&yf=2022&from=01.06.2022&dt=9&mt=7&yt=2022&to=09.08.2022&p=1&f=RIU2_220601_220809&e=.csv&cn=RIU2&dtf=1&tmf=1&MSOR=1&mstime=on&mstimever=1&sep=3&sep2=1&datf=6&at=1

данные с 9:00 14 июня 2022 по 18:50 15 сентября 2022

In [1]:
#!pip install fastparquet
import glob
import pandas as pd

In [2]:
# Объединяем все файлы в один датафрейм
df = pd.concat(map(pd.read_csv, glob.glob('D:/Work/Data/*.csv')))

In [3]:
df.tail()

                   <DATE>;<TIME>;<LAST>;<VOL>;<ID>;<OPER>
230243  20220915;184914;129240.000000000;2;19250358456...
230244  20220915;184921;129240.000000000;1;19250358456...
230245  20220915;184934;129240.000000000;1;19250358456...
230246  20220915;184939;129240.000000000;7;19250358456...
230247  20220915;184952;129240.000000000;3;19250358456...

In [4]:
# Удаляем дубликаты
df = df.drop_duplicates()

In [5]:
df.tail()

                   <DATE>;<TIME>;<LAST>;<VOL>;<ID>;<OPER>
230243  20220915;184914;129240.000000000;2;19250358456...
230244  20220915;184921;129240.000000000;1;19250358456...
230245  20220915;184934;129240.000000000;1;19250358456...
230246  20220915;184939;129240.000000000;7;19250358456...
230247  20220915;184952;129240.000000000;3;19250358456...

In [6]:
df.head()

              <DATE>;<TIME>;<LAST>;<VOL>;<ID>;<OPER>
0  20220614;100002;116800.000000000;1;19250355535...
1  20220614;100002;116530.000000000;1;19250355535...
2  20220614;100003;116420.000000000;1;19250355535...
3  20220614;100008;117170.000000000;1;19250355535...
4  20220614;100008;117180.000000000;1;19250355535...

In [13]:
df.to_csv('D:/Work/Data/RIU2.csv', 
          index= False, 
          sep=';')

In [8]:
# занимает в 5 раз меньше места чем csv
df.to_parquet('D:/Work/Data/RIU2.parquet')