### Скрипт добавление признаков для машинного обучения

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('D:/Work/Data/RIU2.csv', delimiter=';', header = 0)

In [13]:
df

,Trade_Time,open,high,low,close,VOL,VB,VS,yurl_l,yurl_s,yurl_l_num,yurl_s_num,fiz_l,fiz_s,fiz_l_num,fiz_s_num
0,2022-06-14 10:00:00,116800.0,117180.0,116000.0,116690.0,317,130,187,29012.0,5574.0,48.0,31.0,24023.0,47461.0,1501.0,4343.0
1,2022-06-14 10:05:00,116410.0,117980.0,116130.0,117770.0,141,100,41,28598.0,5625.0,46.0,33.0,24231.0,47201.0,1594.0,4275.0
2,2022-06-14 10:10:00,117830.0,117980.0,116610.0,116770.0,291,106,185,28583.0,5678.0,44.0,34.0,24331.0,47237.0,1698.0,4285.0
3,2022-06-14 10:15:00,116700.0,116700.0,115160.0,115270.0,261,58,203,28608.0,5831.0,45.0,37.0,24536.0,47311.0,1777.0,4315.0
4,2022-06-14 10:20:00,115210.0,115210.0,114500.0,114850.0,242,99,143,28715.0,5459.0,46.0,33.0,23609.0,46865.0,1836.0,4246.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9855,2022-09-15 18:25:00,129230.0,129240.0,129230.0,129240.0,53,29,24,34904.0,9062.0,38.0,61.0,25366.0,51208.0,1872.0,4908.0
9856,2022-09-15 18:30:00,129240.0,129240.0,129230.0,129240.0,41,38,3,34839.0,9023.0,38.0,62.0,25235.0,51051.0,1871.0,4923.0
9857,2022-09-15 18:35:00,129240.0,129240.0,129230.0,129240.0,37,25,12,34745.0,9072.0,36.0,59.0,24820.0,50493.0,1854.0,4870.0
9858,2022-09-15 18:40:00,129240.0,129250.0,129230.0,129250.0,119,113,6,34751.0,9258.0,37.0,60.0,24838.0,50331.0,1856.0,4838.0
9859,2022-09-15 18:45:00,129240.0,129250.0,129230.0,129240.0,92,57,35,34751.0,9258.0,37.0,60.0,24838.0,50331.0,1856.0,4838.0

In [14]:
# Удаляем дубликаты
df = df.drop_duplicates()

In [15]:
# Добавляем новый столбец Delta_Volume
# Vol_Buy - Vol_Sel

dd = df['VB'] - df['VS']
df.insert(8, 'Delta_Vol', dd)

In [16]:
# Добавляем новый столбец OI
# складываем все OI

oi = df['yurl_l'] + df['yurl_s'] + df['fiz_l'] + df['fiz_s']
df.insert(9, 'OI', oi)

In [17]:
# удаляем fiz_l_num и fiz_s_num, они особой роли не играют

df.drop('fiz_l_num', axis=1, inplace=True)
df.drop('fiz_s_num', axis=1, inplace=True)

In [18]:
# Обработка OI
#  - Дельта OI (последнее значение минус предыдущее)
#  - То же самое по позициям yurl и fiz

df.insert(10, 'doi', df['OI'].diff(periods=1))

In [19]:
df.insert(12, 'dyl', df['yurl_l'].diff(periods=1))

In [20]:
df.insert(14, 'dys', df['yurl_s'].diff(periods=1))

In [21]:
df.insert(18, 'fyl', df['fiz_l'].diff(periods=1))

In [22]:
df.insert(20, 'fys', df['fiz_s'].diff(periods=1))

In [23]:
df

,Trade_Time,open,high,low,close,VOL,VB,VS,Delta_Vol,OI,...,yurl_l,dyl,yurl_s,dys,yurl_l_num,yurl_s_num,fiz_l,fyl,fiz_s,fys
0,2022-06-14 10:00:00,116800.0,117180.0,116000.0,116690.0,317,130,187,-57,106070.0,...,29012.0,NaN,5574.0,NaN,48.0,31.0,24023.0,NaN,47461.0,NaN
1,2022-06-14 10:05:00,116410.0,117980.0,116130.0,117770.0,141,100,41,59,105655.0,...,28598.0,-414.0,5625.0,51.0,46.0,33.0,24231.0,208.0,47201.0,-260.0
2,2022-06-14 10:10:00,117830.0,117980.0,116610.0,116770.0,291,106,185,-79,105829.0,...,28583.0,-15.0,5678.0,53.0,44.0,34.0,24331.0,100.0,47237.0,36.0
3,2022-06-14 10:15:00,116700.0,116700.0,115160.0,115270.0,261,58,203,-145,106286.0,...,28608.0,25.0,5831.0,153.0,45.0,37.0,24536.0,205.0,47311.0,74.0
4,2022-06-14 10:20:00,115210.0,115210.0,114500.0,114850.0,242,99,143,-44,104648.0,...,28715.0,107.0,5459.0,-372.0,46.0,33.0,23609.0,-927.0,46865.0,-446.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9855,2022-09-15 18:25:00,129230.0,129240.0,129230.0,129240.0,53,29,24,5,120540.0,...,34904.0,287.0,9062.0,99.0,38.0,61.0,25366.0,-417.0,51208.0,-229.0
9856,2022-09-15 18:30:00,129240.0,129240.0,129230.0,129240.0,41,38,3,35,120148.0,...,34839.0,-65.0,9023.0,-39.0,38.0,62.0,25235.0,-131.0,51051.0,-157.0
9857,2022-09-15 18:35:00,129240.0,129240.0,129230.0,129240.0,37,25,12,13,119130.0,...,34745.0,-94.0,9072.0,49.0,36.0,59.0,24820.0,-415.0,50493.0,-558.0
9858,2022-09-15 18:40:00,129240.0,129250.0,129230.0,129250.0,119,113,6,107,119178.0,...,34751.0,6.0,9258.0,186.0,37.0,60.0,24838.0,18.0,50331.0,-162.0
9859,2022-09-15 18:45:00,129240.0,129250.0,129230.0,129240.0,92,57,35,22,119178.0,...,34751.0,0.0,9258.0,0.0,37.0,60.0,24838.0,0.0,50331.0,0.0

In [24]:
# Меняем все NaN на 0
#df.fillna(0)
df = df.replace(np.nan, 0)

In [25]:
# Сохраняем все в файл с добавлением ML

df.to_csv('D:/Work/Data/ML_RIU2.csv',
          index= False,
          sep = ";")